body {
  margin: 0;
  padding: 0;
  background-color: #f6f8f8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.questions-list, .active-user {
  width: 60%;
  margin: 25px auto 0;
}

.question-wrapper {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: all .2s ease-out;
  border-radius: 3px;
}

.question-wrapper:hover {
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.question-wrapper.active {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}